html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-wrapper {
    /* Resmi buraya veriyoruz */
    background-image: url('/Image/wallpaper.png');
    /* RESMÝ TAM KAPLATAN BÜYÜLÜ KOMUTLAR */
    background-size: cover; /* Boþluk býrakmadan alaný doldurur */
    background-position: center; /* Merkeze odaklar */
    background-repeat: no-repeat;
    /* Navbar ve Footer arasýný tam doldurmasý için yüksekliði hesaplayalým */
    /* 100vh (ekran boyu) - navbar yüksekliði - footer yüksekliði */
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ýçerikleri (sloganý vs.) dikeyde ortalar */
    /* RENK FARKI OLMASIN DÝYE: */
    background-color: #ffffff;
}

    /* Container'ýn içindeki gereksiz beyazlýklarý ve geniþlik sýnýrlamasýný kaldýralým */
    .main-wrapper .container {
        background-color: transparent !important;
    }